@{
    ViewData["Title"] = "Home Page";
}
<div class="container ">
    <div class="main">
        <h1>Contact info</h1>
        <div class="contact_box">
            <h2 class="text_weight">Contact phone</h2>
            <p class="text"> (your country cod)+01123214432</p>
        </div>
        <div class="contact_box">
            <h2 class="text_weight">Email </h2>
            <p class="text">somerandomail@mail.com</p>
        </div>
        <div class="contact_box">
            <h2>main office adress</h2>
            <p>Ukraine Kyiv  STEPANOVICH bulding</p>
        </div>
        <div class="contact_box">
            <h2>All rights reserved</h2>
            <p> The main part belongs to STEPANOVICH and Friends company </p>
        </div>
    </div>
</div>

