@{
    ViewData["Title"] = "HostelNET";
}


<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Welcome    to our hostel sharing  servis</h1>
            <a class="btn" href="Service.cshtml">Order your place</a>
        </div>

    </div>

</div>
<div class="container">
    <div class="about_text" id="animation">
        <b class="text">The hostel notwork gives you information about hostels all around the world ,if you want to travel to a new places during vacation,or it is your business trip,use our site to find place for rest.We got oue own hostels in the most visited parts of the world,and of we dont,we got a bunch of friends .They are not actual part of our family but they will provide you the best service withing our highest standards of quality</b><br>

        <div class="line-2"></div>  <br>
        <div class="text-2">
            <H1 class="text-2-1">Our benefits </H1>
            <p1>*Easy way to find plase you need </p1><br>
            <p1>*The protection of every our customer  </p1>  <br>
            <p1>*the highest sort of service </p1>    <br>

        </div>
    </div>
    <div class="content-box">
        <div class="card-box">
            <h1 class="card-box-font">3</h1>
            <p1>Years of full work</p1>
        </div>
        <div class="card-box">
            <h1 class="card-box-font">200</h1>
            <p1>Our own hostels</p1>
        </div>
        <div class="card-box">
            <h1 class="card-box-font">300</h1>
            <p1>Friends with us</p1>
        </div>
        <div class="card-box">
            <h1 class="card-box-font">600</h1>
            <p1>Workers all around the world</p1>
        </div>

    </div>

</div>


