@{
    ViewData["Title"] = "Home Page";
}

<div class="intro_media">
    <div class="video_media">
        <video class="video" src="~/asetss/Trolley near Gedinimas Tower in Vilnius.mp4" autoplay muted loop>
        </video>
    </div>
</div>

<div class="container">
    <div class="Service__container ">
        <div class="Service__text">
            <div class="container">
                <h2>Service</h2>
                <div class="line"></div>
                <h3>Our main area of work is to find and provide not expensive and convenient place of rest for travelers therefore here is our main list of services </h3>
            </div>

            <input class="nav__link" type="text" name="name" placeholder="Your_name" required><br>
            <input type="text" name="email" placeholder="Your e-mail" required><br>
            <select name="option">
                <option value="0">*choose on option </option>
                <option value="1">*Find rest place</option>
                <option value="2">*Order a list of other hostels</option>
                <option value="3">*Order your personal guide</option>
                <option value="4">*Order a list of places for ather types of rests(resturants,musems.theaters,cinema and others)</option>
            </select><br>
            <textarea name="content" cols="30" rows="10" required placeholder="Your wishes"></textarea>
            <button class="btn" type="submit">Order</button>
        </div>
    </div>
</div>

