@{
    ViewData["Title"] = "Home Page";
}
<div class="intro_media">
    <div class="video_media">
        <video class="video" src="assets/imeges/200314%20_Work%20Life_02_%204k_057.mp4" autoplay muted loop>
        </video>
    </div>
</div>
<div class="container">
    <div class="Service__text">
        <h2>Work with as</h2>
        <div class="line"></div>
        <h3>To be honest ,It is not in our interests to make the nets of hostels around the world , much more interesting to make a new friends ,so join us and become a part of the bigest frendship in the world </h3>
        <p1>*We can find clients for </p1><br>
        <p2>*We can make your servis batter</p2><br>
        <p3>*Relocate your hostel place if it is bad </p3><br>
        <p3>*It will be fun </p3><br>
        <p4>*Join us </p4><br>
        <input class="nav__link" type="text" name="name" placeholder="Your_name" required><br>
        <input type="email" name="email" placeholder="Your e-mail,or phone number " required><br>
        <select>
            <option>*choose a type of the house </option>
            <option>*Hostel </option>
            <option>*Hotel</option>
            <option>*Privat House </option>

        </select><br>
        <textarea name="content" cols="30" rows="10" required placeholder="Your wishes"></textarea>

        <button class="btn" type="submit">Order</button>
        <input class="btn" type="reset" value="Reset">


    </div>
</div>