<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HostelNET</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="page">
        <header class="header">
            <nav>
                <div class="container">
                    <div class="header__inner">
                        <a class="Header__logo" asp-area="" asp-controller="Home" asp-action="Index">HostelNET</a>
                        <div class="navbar-collapse">

                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Service">Service</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Work">Work</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Login">Login</a>



                        </div>
                        <!--
                        <a href="index.cshtml" class="nav__link">About</a>
                        <a href="Service.html" class="nav__link">Service</a>
                        <a href="Blog.cshtml" class="nav__link">Blog</a>
                        <a href="Work.html" class="nav__link">Work</a>
                        <a href="Contacts.html" class="nav__link">Contact</a>
                     -->
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="adaptive_footer">
                <div class="img_contacts_main">
                    <div class="img_contacts">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" width="100">
                    </div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"><img src="https://pngicon.ru/file/uploads/telegram.png" width="100"></div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"> <img src="https://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632760twitter.png" width="100">  </div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/768px-Facebook_icon.svg.png" width="100"> </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
