<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HostelNET</title>
    <meta name="google-site-verification" content="2SM4ZLUdhuGJvxfeXatCLc73ntVD0MyXwYltKUY7dtU">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="page">
        <header class="header">
            <nav>
                <div class="container">
                    <div class="header__inner">
                        <a class="Header__logo" asp-area="" asp-controller="Home" asp-action="Index">HostelNET</a>
                        <div class="navbar-collapse">

                            <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Service">Service</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Work">Work</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>

                            <a class="nav__link " asp-area="" asp-controller="Home" asp-action="Login">CheckIN</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
      

        <footer class="footer">
            <div class="adaptive_footer">
                <div class="img_contacts_main">
                    <div class="img_contacts">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"  class="width_22">
                    </div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"><img src="https://pngicon.ru/file/uploads/telegram.png" class="width_22"></div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"> <img src="https://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632760twitter.png"  class="width_22">  </div>
                </div>
                <div class="img_contacts_main">
                    <div class="img_contacts"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/768px-Facebook_icon.svg.png"  class="width_22"> </div>
                </div>
            </div>
        </footer>
    </div>
   

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
